@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: rgb(252, 250, 241);
  font-family: 'Noto Serif JP', sans-serif;
}
.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.8;
  display: inline-block;
  padding: 0.45rem 0.9rem;
  margin: 0 0.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  color: #f0f0f0;
  background-color: #186fe0;
  border-bottom: 4px solid #1b09bb;
}

.btn:hover {
  margin-top: 3px;
  color: #f0f0f0;
  background: #0aa5ff;
  border-bottom: 1px solid #1b09bb;
}


/* ヘッダー部分 */
header {
  width: 100%;
  padding: 13px 3.5% 10px;
  background-color: #324395;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  color: #ffffff;
}
header h1{
  margin: 0;
  padding: 0;
  font-size: 23px; 
}
header h1 a{
  text-decoration: none;
  color:#ffffff;
}
header ul{
  list-style: none;
  margin: 0;
  display: flex;
}
header li{
  margin: 0 0 0 15px;
  padding-left: 10px;
  font-size: 14px;
  border-left: 2px solid #ffffff ;
  
}
header nav{
  margin: 0 0 0 auto;
  cursor: pointer;
}


.none{
  display: none;
}



/* ホーム画面 */
/* :infos部分 */
.infos{
  width: 100%;
  height: 50px;
  margin-top: 55px;
  background-color: #5a69b1;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.infos ul{
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.infos li{
  margin: 0;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  padding: 0 30px 0 10px;
  border-left: solid 1.5px #ffffff; 
}
.infos a{
  text-decoration: none;
  color:#ffffff;
}
.infos img{
  height: 15px;
  width: auto;
}

/* :TODO */
.todos{
    margin: 0 auto;
    width: 95%;
}

/* ::入力ボックス */
.input-box{
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.textbox{
  font-size: 19px;
  cursor: pointer;
  padding: 7px 6px;
  width:70%;
  color: #666;
  user-select:none;
}
.deadline{
  font-size: 19px;
  cursor: pointer;
  padding: 7px 4px;
  margin-left: 3px;
  width: 112px;
  color: #666;
  user-select:none;
}
.register{
  height: 36px;
  font-size: 18px;
}

/* ::ボックス */
.content-box{
  margin-bottom: 1em;
  background: #fcfcfc;
  border: solid 2px rgba(128, 128, 128, 0.397);
}

.content-box h2{
  margin-top: 0.2em;
  margin-left: 0.3em;
}

.todos ul {
  background: #fcfcfc;
  padding: 0em 1em 0.2em 1em;
  width: auto;
  align-items: center;
  list-style-type: none;
}
 
.todos li{
  color: #404040;
  border-left: solid 6px #1b09bb;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  align-items: center;
  align-items: center;
  list-style-type: none;/*ポチ消す*/
  font-weight: bold;
  position: relative;
}




.wanto{
  position: absolute;
  top: 5px;
  right: 80px;
}

.check{
  position: absolute;
  top: 5px;
  right: 80px;
}

.del{
  color: #000;
  background: #98bbd2;
  border-bottom: 4px solid #879faf;
  position: absolute;
  top: 5px;
  right: 10px;
}

.del:hover{
  margin-top: 3px;
  color: #f0f0f0;
  background: #0c5680;
  border-bottom: 1.3px solid #ffe48b;
}


/* 設定画面 */
.settings{
  margin-top: 100px;
}

.settings h1{
  text-align: center;
}
.time-setting{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}
.times{ 
  text-align: center;
  padding: 0 50px; 
  width: auto; 
}
.submit{
  display: flex;
  justify-content: center;
  padding: 39px;
  margin: 30px auto;
}
#alert{
  height: auto;
  padding: 4px 16px;
  border-radius: 8px;
  color: #ffffff;
  background: #0e51e3a1;
  font-weight: bold;
  text-align: center;
  line-height: 72px;
  position: fixed;
  bottom: 10%;
 }
 .popup-message {
  animation: popup 3s forwards;
}
@keyframes popup {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10%, 90% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 0;
    pointer-events: none;
  }
}

/* カレンダー */
.calenders{
  margin: 130px auto;  
  color: #666;
  width: 80%;
}
#y-m{
  text-align: center;
  width: 100%;
  margin: 1rem 0 0;
  color: #000;
}

#calender{
  margin: 10px;
  text-align: center;
  width: 100%;
}

table{
  outline: 2px solid #3e67b3;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}
th{
  color: #000;
  outline: 0.6px solid #717e8b;
}
td{
  outline: 0.4px solid #acc1d7;
  height: 100px;
}

td:first-child{
  color: red;
}
td:last-child{
  color: blue;
}

td.disabled{
  color: #abb7bf;
}
td.today{
  color: #fff;
  background-color: #5a69b1;
}

#next-prev-btn{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
